In [18]:
import pandas as pd
import os
import numpy as np

In [17]:
folder = "./data"

files = os.listdir(folder)

datasets = {file_name.replace(".xlsx", ""): pd.read_excel(os.path.join(folder, file_name)) for file_name in files}

for name, df in datasets.items():
    print(f"\n{name} loaded: {df.shape[0]} rows, {df.shape[1]} columns")
    print(df.head())

EOAL_PAIS_DL loaded: 943 rows, 7 columns
   Unnamed: 0   AÑO  MES       PAIS             LUGAR_RESIDENCIA  VIAJEROS  \
0           0  2022    1   Alemania  Residentes en el Extranjero      2892
1           1  2022    1    Austria  Residentes en el Extranjero         0
2           2  2022    1    Bélgica  Residentes en el Extranjero       717
3           3  2022    1  Dinamarca  Residentes en el Extranjero         0
4           4  2022    1     España         Residentes en España     39580

   PERNOCTACIONES
0            6133
1               0
2            1603
3               0
4           86870

CST_GASTO_CONSUMO_TURISTICO_DL loaded: 112 rows, 9 columns
   Unnamed: 0   AÑO                                         PRODUCTO  \
0           0  2016  Agencias de viajes y otros servicios de reserva
1           1  2016                              Hoteles y similares
2           2  2016               Otros productos no característicos
3           3  2016            Productos característicos del turismo
4           4  2016                             Servicios culturales

   NUM_GASTO_INTERIOR  NUM_GASTO_INTERNO  NUM_GASTO_EMISOR  \
0              6910.6             5090.6            3509.2
1             23393.6             9216.4            4030.7
2             28999.0             8033.0            3929.3
3             86710.1            39006.0           15699.0
4              5383.0              812.3             202.7

   NUM_CONSUMO_TURISTICO_INTERIOR  NUM_CONSUMO_OTROS_COMPONENTES_TURISTICOS  \
0                          7021.3                                     110.7
1                         23467.8                                      74.2
2                         28999.0                                       0.0
3                        102669.9                                   15959.8
4                          5663.4                                     280.4

   NUM_GASTO_RECEPTOR
0              1819.9
1             14177.2
2             20966.0
3             47704.1
4              4570.7

EOTR_PAIS_DL loaded: 1157 rows, 7 columns
   Unnamed: 0   AÑO  MES                       PAIS  \
0           0  2018    1                   Alemania
1           1  2018    1                    Bélgica
2           2  2018    1  Estados Unidos de América
3           3  2018    1                    Francia
4           4  2018    1                     Italia

              LUGAR_RESIDENCIA  VIAJEROS  PERNOCTACIONES
0  Residentes en el Extranjero      4293           28323
1  Residentes en el Extranjero       672            3780
2  Residentes en el Extranjero       442            1103
3  Residentes en el Extranjero      1767            5179
4  Residentes en el Extranjero       322             960

CONECTIVIDAD_AEREA_BUSQUEDAS_INICIO_VIAJE_DL loaded: 232893 rows, 10 columns
   Unnamed: 0   AÑO  MES PAIS_ORIGEN    CIUDAD_DESTINO    TIPO_ORIGEN  \
0           0  2022    1  Afganistán         Barcelona  Internacional
1           1  2022    1  Afganistán            Madrid  Internacional
2           2  2022    1  Afganistán            Málaga  Internacional
3           3  2022    1  Afganistán           Sevilla  Internacional
4           4  2022    1     Albania  Alacant/Alicante  Internacional

   BUSQUEDAS ANTELACION ESTANCIA_MEDIA VARIACION_INTERANUAL_BUSQUEDAS
0         10       3,22           2,89                            0,0
1         13       1,45           12,0                            0,0
2          2        8,0            8,5                            0,0
3          1        6,0            3,0                            0,0
4         45       5,42          11,18                            0,0

TRANSPORTE_TERRESTRE_DL loaded: 356 rows, 4 columns
    AÑO  MES                                    TIPO_TRANSPORTE  VIAJEROS
0  2018    1                       Ferrocarril: Larga distancia   2396000
1  2018    1                       Ferrocarril: Media distancia   2413000
2  2018    1  Transporte interurbano regular por autobús: La...   1090000
3  2018    1  Transporte interurbano regular por autobús: Me...  16166000
4  2018    2                       Ferrocarril: Larga distancia   2460000

EOAC_CATEGORIA_DL loaded: 267 rows, 15 columns
   Unnamed: 0   AÑO  MES            CATEGORIA             LUGAR_RESIDENCIA  \
0           0  2018    1         2ª categoría  Residentes en el Extranjero
1           1  2018    1         3ª categoría                        Total
2           2  2018    1  Lujo y 1ª categoría         Residentes en España
3           3  2018    2         2ª categoría  Residentes en el Extranjero
4           4  2018    2         3ª categoría                        Total

   VIAJEROS  PERNOCTACIONES  ESTANCIA_MEDIA  ESTABLECIMIENTOS_ESTIMADOS  \
0    125198         1170353           29.76                         241
1     18076           80818           16.33                          57
2    103802          924694           27.03                         115
3    148234         1161370           26.35                         261
4     34234          105144           14.21                          63

   PARCELAS  PLAZAS_ESTIMADAS  GRADO_OCUPA_PARCELAS  \
0     41249            126627                 39.32
1      5016             14745                 30.37
2     34196            110882                 36.40
3     45530            140032                 41.07
4      6148             18099                 35.05

   GRADO_OCUPA_PARCELAS_FIN_SEMANA  NUM_PARCELAS_OCUPADAS  PERSONAL_EMPLEADO
0                            39.77                 502739               1299
1                            32.18                  47220                176
2                            37.68                 385914               1341
3                            41.68                 523536               1439
4                            37.88                  60334                196

ESCUCHA_ACTIVA_DL loaded: 35 rows, 4 columns
   Unnamed: 0   AÑO  MES  MENCIONES
0           0  2021    8      18136
1           1  2021    9      12554
2           2  2021   10      40451
3           3  2021   11      46045
4           4  2021   12      39554

ACTIVIDADES_OCIO_DL loaded: 17212 rows, 11 columns
    AÑO  MES      PRODUCTO                CATEGORIA        CCAA    PROVINCIA  \
0  2023    7  Espectaculos  Cultura, teatro y danza  País Vasco  Araba/Álava
1  2023    7  Espectaculos  Cultura, teatro y danza  País Vasco  Araba/Álava
2  2023    7  Espectaculos                   Música  País Vasco  Araba/Álava
3  2023    7   Actividades   Actividades infantiles  País Vasco  Araba/Álava
4  2023    7  Espectaculos  Cultura, teatro y danza  País Vasco  Araba/Álava

   ENTRADAS  VISITAS_PAGINAS  GASTO_TOTAL  PRECIO_MEDIO_ENTRADA  TRANSACCIONES
0        35              135       420.00                 12.00             12
1         2                8         6.46                  3.23              1
2       310             4171      3357.30                 10.83            153
3        39              151       207.87                  5.33             17
4       290             1123      2726.00                  9.40            124

FRONTUR_DL loaded: 29945 rows, 6 columns
    AÑO  MES PAIS_RESIDENCIA TIPO_VISITANTE CCAA_DESTINO  VISITANTES
0  2018    1        Alemania  Excursionista    Andalucía         818
1  2018    1        Alemania  Excursionista    Baleares         3694
2  2018    1        Alemania  Excursionista    Canarias        13587
3  2018    1        Alemania  Excursionista   Cataluña          4623
4  2018    1        Alemania  Excursionista    Galicia            14

EGATUR_DL loaded: 29414 rows, 7 columns
    AÑO  MES PAIS_RESIDENCIA                            TIPO_VISITANTE  \
0  2018    1        Alemania  Excursionista no residente (no tránsito)
1  2018    1        Alemania  Excursionista no residente (no tránsito)
2  2018    1        Alemania  Excursionista no residente (no tránsito)
3  2018    1        Alemania  Excursionista no residente (no tránsito)
4  2018    1        Alemania    Excursionista no residente en tránsito

    CCAA_DESTINO  PERNOCTACIONES  GASTO_TOTAL
0      Andalucía               0    306434.84
1       Canarias               0  14063908.66
2       Cataluña               0    549930.72
3  Illes Balears               0    956234.72
4       Transito               0   3847358.72

In [8]:
datasets["FRONTUR_DL"]["TIPO_VISITANTE"].unique().tolist()

['Excursionista', 'Turista']

In [9]:
datasets["EGATUR_DL"].apply(lambda col: col.unique())

AÑO                 [2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]
MES                          [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
PAIS_RESIDENCIA    [Alemania, Bélgica, EEUU, Francia, Irlanda, It...
TIPO_VISITANTE     [Excursionista no residente (no tránsito), Exc...
CCAA_DESTINO       [Andalucía, Canarias, Cataluña, Illes Balears,...
PERNOCTACIONES     [0, 876, 59, 1826, 36, 220, 22, 645, 13, 576, ...
GASTO_TOTAL        [306434.84, 14063908.66, 549930.72, 956234.72,...
dtype: object

In [10]:
datasets["EGATUR_DL"]["PAIS_RESIDENCIA"].unique().tolist()

['Alemania',
 'Bélgica',
 'EEUU',
 'Francia',
 'Irlanda',
 'Italia',
 'Países Bajos',
 'Países Nórdicos (Dinamarca',
 'Portugal',
 'Reino Unido',
 'Resto de América',
 'Resto de Europa',
 'Resto del mundo',
 'Rusia',
 'Suiza']

In [15]:
datasets["CST_GASTO_CONSUMO_TURISTICO_DL"].columns.tolist()

['Unnamed: 0',
 'AÑO',
 'PRODUCTO',
 'NUM_GASTO_INTERIOR',
 'NUM_GASTO_INTERNO',
 'NUM_GASTO_EMISOR',
 'NUM_CONSUMO_TURISTICO_INTERIOR',
 'NUM_CONSUMO_OTROS_COMPONENTES_TURISTICOS',
 'NUM_GASTO_RECEPTOR']

In [16]:
datasets["CST_GASTO_CONSUMO_TURISTICO_DL"].head()

,Unnamed: 0,AÑO,PRODUCTO,NUM_GASTO_INTERIOR,NUM_GASTO_INTERNO,NUM_GASTO_EMISOR,NUM_CONSUMO_TURISTICO_INTERIOR,NUM_CONSUMO_OTROS_COMPONENTES_TURISTICOS,NUM_GASTO_RECEPTOR
0,0,2016,Agencias de viajes y otros servicios de reserva,6910.6,5090.6,3509.2,7021.3,110.7,1819.9
1,1,2016,Hoteles y similares,23393.6,9216.4,4030.7,23467.8,74.2,14177.2
2,2,2016,Otros productos no característicos,28999.0,8033.0,3929.3,28999.0,0.0,20966.0
3,3,2016,Productos característicos del turismo,86710.1,39006.0,15699.0,102669.9,15959.8,47704.1
4,4,2016,Servicios culturales,5383.0,812.3,202.7,5663.4,280.4,4570.7

In [13]:
datasets["EOAC_CATEGORIA_DL"]["CATEGORIA"].unique().tolist()

['2ª categoría', '3ª categoría', 'Lujo y 1ª categoría']